body {
    background-color: white;
    color: rgb(57, 40, 255);
    font-family: arial;
    background-image: url("../../img/top_right_01_transparent.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

h1, h2, h3 {
    color: black;
}

section {
    background-color: rgba(151, 91, 91, .5);
    background-image: url("../../img/top_left_01_transparent.png"), url("../../img/top_right_01_transparent.png"); 
    background-position: left top, bottom right;
    background-repeat: no-repeat;
    background-size: 50px;
}
nav {
    background-color: hsl(240, 2%, 54%);
}
